@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Jost Regular';
        src: url('/fonts/Jost-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Jost Bold';
        src: url('/fonts/Jost-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Jost Semi Bold';
        src: url('/fonts/Jost-SemiBold.ttf') format('truetype');
    }
}